#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.Container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.Container-dark {
  background: #000;
}

.Container-light {
  background: rgb(216, 216, 216);
}

.img {
  width: 50px;
}
